<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1> Enter new FAQ </h1>

<i> Note: For proper formatting, the questions automatically display as bullet points with a bold font. Answers are italic</i>



<%= simple_form_for @faq do |question| %>
  <%= question.input :question, as: :wysihtml5 %>
  <%= question.input :answer, as: :wysihtml5 %> 
  <br />
  <%= question.submit 'Create', class: 'btn btn-primary'%>

  <%end%>

  </div>