<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1><%= @task.item.html_safe %> </h1>
<i> <%= @task.game %> </i>
<br />


<div class="pull-right">
<% if current_user && current_user == @task.user %>
  <%= link_to 'Edit', edit_task_path(@task), class:'btn btn-primary glyphicon glyphicon-file'%>
  <%end%>
  <%= link_to 'Delete', task_path(@task), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger glyphicon glyphicon-trash' %>
  </div>
</div>